@import 'reset';

html,
body{
    height: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

section{
    max-width: 600px;
    margin:20px;
    text-align: center;
}

h1{
    margin-bottom: 20px;
}

h2{
    margin-bottom: 20px;
}

ul {
    display: flex;
}

li{
    margin: 0 20px
}